.App {
  text-align: center;
}

.App-header {
    min-height: 4rem;
    background-color: #282c34;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.App-header ul {
    display: flex;
    padding-left: 0;
}

.App-header a {
    color: white;
    text-decoration: none;
}

.App-header ul li {
    list-style: none;
    padding: 0 2rem;
}

.main-content {
    margin: 1rem auto;
}

.main-form {
    display: flex;
    justify-content: center;
}

.main-form form {
    display: flex;
    flex-direction: column;
}

.main-form form div {
    display: flex;
}

.main-form form fieldset {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: none;
}

.btn {
    display: block;
    margin: 0 0.5rem;
    border-radius: 4px;
    border: 1px solid black;
    min-height: 1.5rem;
}

.btn:hover {
    background-color: #282c34;
    color: white;
}

.main-table {
    margin: 1rem auto;
    border-collapse: collapse;
    width: 35rem;
}

.main-table thead {
    background-color: #003162;
    color: white;
}

.main-table th, td {
    border-bottom: 1px solid #ddd;
    height: 2rem ;
}

.main-table tbody tr:hover {
    background-color: #b0dfe5;
}

